<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3>Contact</h3>
      <div class="border p-3">
        <h5><strong>問い合わせ内容確認</strong></h5>

        <table class="table table-borderless">
          <tr>
            <td class="col-4">お名前</td>
            <td><%= @contact.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @contact.email %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @contact.phone_number %></td>
          </tr>
          <tr>
            <td>お問い合わせ件名</td>
            <td><%= @contact.subject %></td>
          </tr>
          <tr>
            <td>お問い合わせ内容</td>
            <td><%= @contact.contact_message %></td>
          </tr>
        </table>
        <%= form_with model: @contact, url: contacts_path, local: true do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :phone_number %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :contact_message %>
          <div class="text-center">
            <%= f.submit "送信", class:"col-3" %>
          </div>
        <% end %>
        <div class="py-1"><!--上下余白div--></div>
        <%= form_with model: @contact, url: back_contacts_path, local: true do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :phone_number %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :contact_message %>
          <div class="text-center">
            <%= f.submit "入力画面に戻る", class:"col-3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>