<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3>Post edit</h3>
      <div class="border p-3">
        <h5><strong>投稿編集</strong></h5>
        <!--<#%= form_with model: @post, method: :post, url: confirm_posts_path, local: true do |f| %>-->
        <%= form_with model: @post, url: post_path, local: true do |f| %>
          <table class="table table-borderless">
            <tr>
              <td class="col-4"><%= f.label :action, "私の贅沢な時間の使い方" %></td>
              <td class="col-8"><%= f.text_area :action, rows: 10, class:"col-12" %></td>
            </tr>
            <tr>
              <td><%= f.label :post_images_images, "イメージ画像" %></td>
              <td><%= f.attachment_field :post_images_images, multiple: true %></td>
            </tr>
            <tr>
              <td><%= f.label :time_required, "所要時間" %></td>
              <td><%= f.number_field :time_required %> 分</td>
            </tr>
            <tr>
              <td><%= f.label :budget, "予算目安" %></td>
              <td><%= f.number_field :budget %> 円</td>
            </tr>
          </table>
          <div class="text-center">
            <%= f.submit "更新", class:"col-3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>