<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3>New post</h3>
      <div class="border p-3">
        <h5><strong>投稿内容</strong></h5>
        <!--<#%= form_with model: @post, method: :post, url: confirm_posts_path, local: true do |f| %>-->
        <%= form_with model: @post, url: posts_path, local: true do |f| %>
          <table class="table table-borderless">
            <tr>
              <td><%= f.label :action, "私の贅沢な時間の使い方" %></td>
              <td><%= f.text_area :action, rows: 10, class:"col-12" %></td>
            </tr>
            <tr>
              <td colspan="2" class="text-center text-danger">画像を選択後、ここに選択した画像を表示したい</td>
            </tr>
            <tr>
              <td><%= f.label :post_image, "イメージ画像" %></td>
              <td><%= f.attachment_field :post_image %></td>
            </tr>
            <tr>
              <td><%= f.label :time_required, "所要時間" %></td>
              <td><%= f.number_field :time_required %> 分</td>
            </tr>
            <tr>
              <td><%= f.label :budget, "予算目安" %></td>
              <td><%= f.number_field :budget %> 円</td>
            </tr>
          </table>
          <div class="text-center">
            <%= f.submit "投稿確認", class:"col-3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>