<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3>Post detail</h3>
      <div class="border p-3">
        <h5><strong>投稿内容</strong></h5>
        <div class="row">
          <div class="col-4">イメージ画像</div>
          <div class="col-8 text-left text-secondary">
            <% if @post.post_images.blank? %>
              <span>- no image -</span>
            <% else %>
              <% if @post.post_images.present? %>
                <div id="slider">
                  <% @post.post_images.each do |image| %>
                    <%= attachment_image_tag image, :image, :fill, 300, 300 %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <table class="table table-borderless">
          <tr class="pb-0">
            <td class="col-4">
              投稿ユーザー<br>
              <span class="small text-secondary">(ユーザーID)</span>
            </td>
            <td class="col-8">
              <%= link_to user_path(@post.user), class:"text-decoration-none" do %>
                <%= @post.user.user_name %><br>
                <span class="small text-secondary">(<%= @post.user.user_name_id %>)　　</span>
                <% if user_signed_in? && @post.user != current_user %>
                  <% if current_user.following?(@post.user) %>
                    <%= link_to "フォロー中", user_relationship_path(user_id: @post.user), method: :delete, class:"btn btn-sm btn-secondary text-white text-decoration-none", data: { confirm: "フォローを解除しますか？"} %>
                  <% else %>
                    <%= link_to "フォローする", user_relationships_path(user_id: @post.user), method: :post, class:"btn btn-sm btn-info text-white text-decoration-none" %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr class="pb-0">
            <td>投稿内容</td>
            <td><%= simple_format(h(@post.action)) %></td>
          </tr>
          <tr class="pb-0">
            <td>所要時間</td>
            <td><%= @post.time_required %>分</td>
          </tr>
          <tr class="pb-0">
            <td>予算</td>
            <td><%= @post.budget %>円</td>
          </tr>
          <tr class="pb-0">
            <td>いいね</td>
            <td>
              <% if user_signed_in? %>
                <div class="favorite_btn_<%= @post.id %>">
                  <%= render "public/favorites/favorite", post: @post %>
                </div>
              <% else %>
                <%= link_to "♡#{@post.favorites.count}", new_user_session_path, class:"btn btn-sm btn-secondary text-white text-decoration-none", data: {confirm: "ログインユーザーのみ利用できます。\nログイン画面に移動しますか？"} %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
            <% if user_signed_in? %>
              <% if @post.user == current_user %>
                <%= link_to edit_post_path(@post), class:"text-decoration-none" do %>
                  <strong><i class="fas fa-edit h3"></i></strong>
                <% end %>
                <span>　</span>
                <%= link_to post_path(@post), method: :delete, class:"text-decoration-none mr-3", data: {confirm: "投稿を削除しますか？"} do %>
                  <strong><i class="fas fa-trash-alt text-danger h3"></i></strong>
                <% end %>
              <% end %>
              <div class="post_btn_<%= @post.id %>">
                <%= render partial: "public/reports/post_report_btn", locals: {post: @post} %>
              </div>
            <% end %>
            </td>
          </tr>
        </table>
      <div class="my-3"></div>
      <div class="border p-3">
        <% if user_signed_in? %>
          <%= render "public/comments/comment_form", post: @post, comment: @comment %>
          <div class="col-11 mx-auto my-3 border"></div>
        <% end %>
        <div class="post_comments">
          <%= render "public/comments/comment_lists", post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>