<h5><strong>コメント一覧</strong></h5>
<% if post.comments.blank? %>
  <div class="col-auto text-center">
    <span>まだコメントはありません</span>
  </div>
<% else %>
  <div class="post_comments">
    <% post.comments.each do |comment| %>
      <%= link_to user_path(comment.user.id) do %>
        <div class="row border-bottom py-3">
          <div class="col-auto">
            <%= attachment_image_tag comment.user, :profile_image, :fill, 80, 80, fallback: "user/no_image.jpg", size:'80x80' %>
          </div>
          <div class="col-auto">
            <%= comment.user.user_name %>
            <span class="small text-secondary">　(<%= comment.user.user_name_id %>)</span><br>
            <span><%= simple_format(h(comment.comment)) %></span>
            <% if comment.user == current_user %>
              <%= link_to post_comment_path(post_id: post, id: comment), method: :delete, remote: true, data: {confirm: "コメントを削除しますか？"} do %>
                <span class="text-right"><i class="fas fa-trash-alt text-danger"></i></span>
              <% end %>
            <% end %>
            <% if user_signed_in? %>
              <span class="report_btn_<%= comment.id %> ml-2">
                <%= render partial: "public/reports/comment_report_btn", locals: { post: post, comment: comment} %>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>