<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3>Home</h3>
      <% if user_signed_in? %>

      <!--▼ログイン済ユーザ表示内容-->
        <div class="border p-3 text-center">
          <div class="row">
            <div class="col-auto mx-auto">
              <span>ユーザー名：<%= current_user.user_name %></span><br>
              <span class="small text-secondary">ユーザーID：<%= current_user.user_name_id %></span>
            </div>
            <div class="col-auto mx-auto">
              <span>
                フォロー　：
                <%= link_to user_followings_path(current_user) do %>
                  <%= current_user.followings.count %>
                <% end %>
              </span><br>
              <span>
                フォロワー：
                <%= link_to user_followers_path(current_user) do %>
                  <%= current_user.followers.count %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
        <div class="py-3"></div>

        <!--▼タブ内容-->
        <div class="nav-flame border p-3">

          <!--▼タブタイトル-->
          <ul class="nav nav-tabs nav-justified mx-auto">
            <li class="nav-item"><a id="tab1_link" href="#tab1" class="nav-link<%= params[:tab] == 'timeline' || !params[:tab].present? ? ' active' : '' %>" data-toggle="tab">タイムライン</a></li>
            <li class="nav-item"><a id="tab2_link" href="#tab2" class="nav-link<%= params[:tab] == 'new' ? ' active' : '' %>" data-toggle="tab">最新投稿</a></li>
          </ul>
          <!--▲タブタイトル-->

          <!--▼タブ詳細-->
          <div class="tab-content">

            <!--▼タイムライン投稿表示-->
            <div id="tab1" class="tab-pane scroll-list <%= params[:tab] == 'timeline' || !params[:tab].present? ? ' active' : '' %>">
              <% if @follow_posts.present? %>
                  <%= render partial: "public/posts/post_detail", collection: @follow_posts, as: "post" %>
                <div class="jscroll">
                  <%= paginate @follow_posts %>
                </div>
              <% else %>
                <div class="row border-bottom py-3 user-unfollowing">
                  <span class="col-12 text-center">フォローしているユーザーがいません</span>
                </div>
              <% end %>
            </div>
            <!--▲タイムライン投稿表示-->

            <!--▼最新投稿表示-->
            <div id="tab2" class="tab-pane scroll-list <%= params[:tab] == 'new' ? ' active' : '' %>">
              <% if @all_posts.present? %>
                <%= render partial: "public/posts/post_detail", collection: @all_posts, as: "post" %>
                <div class="jscroll">
                  <%= paginate @all_posts %>
                </div>
              <% else %>
                <div class="row border-bottom py-3 user-unfollowing">
                  <span class="col-12 text-center">まだ投稿がありません</span>
                </div>
              <% end %>
            </div>
            <!--▲最新投稿表示-->

          </div>
          <!--▲タブ詳細-->

        </div>
        <!--▲タブ内容-->

      <!--▲ログインユーザ表示内容-->
      <% else %>
      <!--▼未ログインユーザ表示内容-->

        <!--▼タブ内容-->
        <div class="nav-flame border p-3">

          <!--▼タブタイトル-->
          <ul class="nav nav-tabs nav-justified mx-auto">
            <li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">最新投稿</a></li>
          </ul>
          <!--▲タブタイトル-->

          <!--▼タブ詳細(最新投稿表示のみ)-->
          <div class="tab-content">
            <div id="tab1" class="tab-pane active scroll-list jscroll">
              <%= render partial: "public/posts/post_detail", collection: @all_posts, as: "post" %>
              <div class="jscroll">
                <%= paginate @all_posts %>
              </div>
            </div>
          </div>
          <!--▲タブ詳細-->

        </div>
        <!--▲タブ内容-->

      <!--▲未ログインユーザ表示内容-->
      <% end %>
    </div>
  </div>
</div>