【氏名】<br>
<%= @contact.name %><br>
<br>
【電話番号】 <br>
<%= @contact.phone_number %><br>
<br>
【Mail】<br>
<%= @contact.email %><br>
<br>
【用件】<br>
<%= @contact.subject %><br>
<br>
【お問い合わせ内容】<br>
<span style="white-space: pre-wrap;"><%= @contact.contact_message %></span>