<!DOCTYPE html>
<html>
  <head>
    <title>My Luxury Time</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand bg-light">
        <span class="navbar-brand">My Luxury Time</span>
        <% if admin_signed_in? %>
          <div class="navbar-nav mr-auto">
            <%= link_to "会員一覧", admin_users_path, class:"nav-item nav-link" %>
            <%= link_to "通報一覧", admin_reports_path, class:"nav-item nav-link" %>
          </div>
          <div class="navbar-nav">
            <%= link_to "Log out", destroy_admin_user_session_path, method: :delete, class:"nav-item nav-link" %>
          </div>
        <% elsif user_signed_in? %>
          <div class="navbar-nav mr-auto">
            <%= link_to "Home", root_path, class:"nav-item nav-link" %>
            <%= link_to "About", about_path, class:"nav-item nav-link" %>
            <%= link_to "Ranking", ranking_path, class:"nav-item nav-link" %>
            <%= link_to "New post", new_post_path, class:"nav-item nav-link" %>
            <%= link_to "Search", search_path, class:"nav-item nav-link" %>
          </div>
          <div class="navbar-nav">
            <%= link_to "My page", user_path(current_user.id), class:"nav-item nav-link" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav-item nav-link" %>
          </div>
        <% else %>
          <div class="navbar-nav mr-auto">
            <%= link_to "Home", root_path, class:"nav-item nav-link" %>
            <%= link_to "About", about_path, class:"nav-item nav-link" %>
            <%= link_to "Ranking", ranking_path, class:"nav-item nav-link" %>
          </div>
          <div class="navbar-nav">
            <%= link_to "Log in", new_user_session_path, class:"nav-item nav-link" %>
            <%= link_to "Sign up", new_user_registration_path, class:"nav-item nav-link" %>
          </div>
        <% end %>
      </nav>
    </header>

    <p><%= notice %></p>
    <p><%= alert %></p>
    <%= yield %>

    <footer class="fixed-bottom bg-light text-center py-3 mt-3">
      <span>footer</span>
    </footer>

  </body>
</html>
